@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #F5F7FA;
  --foreground: #172033;
  --radius: 0.625rem;
  --button-height: 38px;

  --primary: #5B4CE2;
  --primary-foreground: oklch(0.985 0 0);
  --primary-hover: color-mix(in oklch, var(--primary), transparent 20%);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: #172033;
  --secondary-hover: color-mix(in oklch, var(--secondary), var(--foreground) 5%);
  --muted: oklch(0.97 0 0);
  --muted-foreground: #9CA3AF;
  --accent: oklch(0.97 0 0);
  --accent-foreground: #172033;
  --card: #FFFFFF;
  --card-foreground: #172033;
  --popover: #FFFFFF;
  --popover-foreground: #172033;
  --destructive: #EF4444;
  --destructive-foreground: oklch(0.985 0 0);
  --destructive-hover: color-mix(in oklch, var(--destructive), transparent 10%);
  --destructive-muted: color-mix(in oklch, var(--destructive), transparent 90%);
  --destructive-muted-hover: color-mix(in oklch, var(--destructive), transparent 80%);
  --warning: oklch(0.666 0.179 58.318);
  --warning-foreground: oklch(0.987 0.022 95.277);
  --warning-muted: color-mix(in oklch, var(--warning), transparent 85%);
  --warning-muted-hover: color-mix(in oklch, var(--warning), transparent 75%);
  --border: #E2E5EA;
  --input: #D1D5DB;
  --input-hover: color-mix(in oklch, var(--input), transparent 50%);
  --ring: #5B4CE2;
  --overlay: #111827;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-cousine: var(--font-cousine);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-hover: var(--secondary-hover);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive-hover: var(--destructive-hover);
  --color-destructive-muted: var(--destructive-muted);
  --color-destructive-muted-hover: var(--destructive-muted-hover);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-warning-muted: var(--warning-muted);
  --color-warning-muted-hover: var(--warning-muted-hover);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-input-hover: var(--input-hover);
  --color-ring: var(--ring);
  --radius-md: calc(var(--radius) * 0.8);
  --color-overlay: var(--overlay);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}
